export DATA_DIR="$PWD/data"
export MODELS_DIR="$PWD/models"
export NOTEBOOK_DIR="$PWD/notebooks"
export SOURCE_DIR="$PWD/src"
export LOGGING_CONFIG="$PWD/src/logging.yaml"
export CONFIG_DIR="$PWD/config"
export TESTS_DIR="$PWD/tests"
export FIXTURES_DIR="$PWD/tests/fixtures"
